body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  padding: 10px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin: 5px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 5px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 5px;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 5px auto;
  padding: 10px 20px;
}